{% extends 'base/base.html' %}
{% block title %}
    Class Add Views | {{ block.super }}
{% endblock title %}

{% block content %}
    <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="row">     
                <div class="col-6 offset-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <!-- nếu dạng check box thì hiển thị -->
                            {% if field.field.widget.input_type == 'checkbox' %}
                                <div class="form-group form-check">
                                    {{ field }}        
                                    {{ field.label }}
                                </div>
                            {% else %}
                                <div class="form-group {% if field.errors %} is-invalid {% else %} is-valid {% endif %}">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
        
                            {% endif %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div style="display:block" class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <input type="submit" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </form>
    
{% endblock content %}

{% block content1 %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();
        </script>
    
{% endblock content1 %}