{% extends 'base/base_user.html' %}
{% block title %}
    Đăng Nhập Hệ Thống
{% endblock title %}

{% block content %}

    <div class="container">
        {% load static %}
        <div class="row">
            <div class="col-8">
                <img class="img-fluid" src="{% static 'images/django.png' %}" alt="">
            </div>
            <div class="col-4">
                {% if message %}
                    <h1 style="color: red">{{message}}</h1>
                {% endif %}
                <form action="" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %} is-invalid {% else %} is-valid {% endif %}">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Login">
                </form>
            </div>
        </div>
</div>
{% endblock content %}