{% load myfilter %}
<!-- Phân trang -->
<nav aria-label="Page navigation example">
    <ul class="pagination {{class_name}}">
        <!-- button previous -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% else %}
        <li class="page-item disabled">
            <a class="page-link disabled" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        
        <!-- tạo vòng lặp khi phân trang -->
        {% for page in page_obj.paginator.num_pages|make_range %}
        <li class="page-item {% if page_obj.number == page %} active {% endif %}">
            <a class="page-link" href="?page={{page}}">{{page}}</a>
        </li>
            
        {% endfor %}
        
        <!-- button next -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    </nav>

        <!-- <div>
            <p>Trang hiện tại {{ page_obj.number }}</p>
            <p>Số trang sau khi phân {{ page_obj.paginator.num_pages }}</p>
            <p>Trang hiện tại {{ page_obj.number }} có trang kế tiếp hay không ? {{ page_obj.has_next }}
                {% if page_obj.has_next %}
                {{page_obj.next_page_number}}
            {% endif %}
            </p>
            <p>Trang hiện tại {{ page_obj.number }} có trang kế tiếp hay không ? {{ page_obj.has_previous }}
                {% if page_obj.has_previous %}
                {{page_obj.previous_page_number}}
            {% endif %}
            </p>

        </div>